---
import FunnelLayout from '../../layouts/FunnelLayout.astro';
---

<FunnelLayout title="Learn">
  <h1>Learn</h1>
  <h2>Blog</h2>
  <ul>
    <li><a href="/learn/hello-world/">Hello World</a></li>
  </ul>
  <h2>Courses</h2>
  <ul>
    <li><a href="/learn/courses/getting-started/">Getting Started</a></li>
  </ul>
</FunnelLayout>
