---
import FunnelLayout from '../../../layouts/FunnelLayout.astro';
---

<FunnelLayout title="学习" lang="zh">
  <h1>学习 · ZH</h1>
  <h2>博客</h2>
  <ul>
    <li><a href="/zh/learn/hello-world/">你好，世界</a></li>
  </ul>
  <h2>课程</h2>
  <ul>
    <li><a href="/zh/learn/courses/getting-started/">入门课程</a></li>
  </ul>
</FunnelLayout>
