---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description?: string;
  lang?: 'en' | 'zh';
}

const { title, description, lang } = Astro.props;
---

<BaseLayout title={title} description={description} lang={lang}>
  <section>
    <slot />
  </section>
</BaseLayout>
